button {
    height: 5vw;
    font-size: 20px;
    border-radius: 2px;
}



.div--info {

  width: 100vw;
  margin: auto;
  height: 15vw;
  font-size: 20px;
  padding: 3vw;
  background-color: rgb(1, 13, 21);
  color: white;
}

